* {
  font-family: 'Roboto', sans-serif;
}

/* TOOLTIP */
.tooltip_wrapper {
  position: relative;
  display: inline-block;
}

.tooltip_content {
  opacity: 0;
  visibility: hidden;
  bottom: -40px;
  left: 0;
  background-color: #939eb5;
  color: #031b4e;
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  transition-delay: .3s;
  transition-duration: .5s;
  white-space: nowrap;
}

.tooltip_wrapper:hover .tooltip_content {
  visibility: visible;
  opacity: 1;
}

/* COLORS */
.col_db {
  color: #031b4e;
}

.col_bl {
  color: #0069ff;
}

.col_lg {
  color: #4b5d82;
}

.col_llg {
  color: #73809c;
}

.col_lc {
  color: #939eb5;
}

.col_pa {
  color: #4f6084;
}

.col_lk {
  color: #0069ff;
}

.col_ft {
  color: #808794;
}

/* TITLES FONT SIZE */
.title_h1 {
  font-size: 62px;
  font-weight: 700;
}

.title_h2 {
  font-size: 36px;
  font-weight: 700;
}

.title_h3 {
  font-size: 30px;
  font-weight: 700;
}

.title_h4 {
  font-size: 18px;
  font-weight: 700;
}

.title_h5 {
  font-size: 14px;
  font-weight: 700;
}

/* PAGINATION CLASSES */
.pagination_links ul {
  cursor: default;
  list-style-type: none;
  padding: 0;
}

.pagination_links li {
  display: inline-block;
  padding: 0 4px;
}

.pagination_links .page_item {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  border: 2px solid #0069ff;
  transition: 1s ease;
}

.pagination_links a.page_item.current_page {
  background-color: #0069ff;
}

.pagination_links a.page_item:not(.current_page):hover {
  background-color: #cad9f8;
}

/*PAGINATION ARROWS CLASSES*/
.pagination_arrow.arrow_right a::after,
.pagination_arrow.arrow_left a::after {
  content: '';
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  transition: .5s ease;
}

.pagination_arrow.arrow_left {
  left: -30px;
  font-size: 40px;
}

.pagination_arrow.arrow_right {
  right: -30px;
  font-size: 40px;
}

.pagination_arrow.arrow_right a::after {
  content: "\f105";
}

.pagination_arrow.arrow_left a::after {
  content: "\f104";
}

.pagination_arrow>a {
  /* default arrows status is not active */
  color: #acb4c7;
  transition: .5s ease;
}

.pagination_arrow>a:hover {
  text-decoration: none;
}

.pagination_arrow:not(.arrow_active)>a:hover {
  /* no pointer over not active arrow */
  cursor: default;
}

.pagination_arrow.arrow_active a::after {
  /* active arrow color */
  color: #031b4e;
}

.pagination_arrow.arrow_active:hover a::after {
  color: #0069ff;
}

/* SHOW MORE SYMBOL '>' */
a.show_more::after {
  content: "\f105";
  margin-left: 10px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

/* SHARED ANIMATION */
@keyframes opacity_transition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.change_opacity {
  opacity: 0;
  animation-name: opacity_transition;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

/* BODY WRAPPER */
.body_wrapper {
  min-width: 380px;
}

/* HEADER SECTION */
.header {
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 5px lightgrey;
}

@media screen and (max-width:768px) {
  .header {
    position: relative;
    box-shadow: none;
  }
}

.header .header_left_item,
.header .header_right_item {
  line-height: 65px;
  font-size: 16px;
  font-weight: 400;
  color: #526081;
}

.header .header_left_item a,
.header .header_right_item a {
  color: #526081;
  font-weight: 700;
}

.header .header_left_item:hover a,
.header .header_right_item:hover a {
  color: #526081;
  text-decoration: none;
}

.header .header_right_item>.btn_sign {
  background-color: white;
  color: #276bf6;
  border: 1px solid #276bf6;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
}

.header .header_right_item>.btn_sign {
  transition: .5s ease;
}

.header .header_right_item>.btn_sign:hover {
  background-color: #276bf6;
  color: white;
}

.header .hamburger {
  font-size: 30px;
  line-height: 65px;
  color: #8ba4de;
}

/* JUMBOTRON MAIN SECTION */
.jumbotron_main {
  margin-top: 65px;
  background-image: url('../assets/main_bkg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  padding: 130px 0;
}

@media screen and (max-width:768px) {
  .jumbotron_main {
    padding: 50px 0;
    margin-top: 0;
  }

  .jumbotron_main_form {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .jumbotron_main_title>h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1200px) {
  .jumbotron_main_title>h1 {
    font-size: 40px;
  }
}

.jumbotron_main_desc p {
  font-size: 20px;
  color: #cdd5ee;
  font-weight: 400;
  margin-top: 20px;
}

.jumbotron_main_form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.form_item>input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}

.form_item>input:focus {
  outline: none;
  border: 1px solid #183bf5;
  transition: 0.5s ease;
}

.form_item[class*="btn_"] a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  font-weight: 700;
  transition: .4s ease;
}

.form_item a {
  text-decoration: none;
}

.form_item>p>a {
  color: #0069ff;
  text-decoration: underline;
  transition: .4s ease;
}

.form_item>p>a:hover {
  color: #0069ff;
}

.form_item.btn_full>a {
  color: white;
  background-color: #0069ff;
}

.form_item.btn_full>a:hover {
  background-color: #183bf5;
}

.form_item.btn_empty a {
  color: #757575;
  box-shadow: 0 1px 5px lightgrey;
}

.form_item.btn_empty img {
  display: block;
  position: absolute;
  left: 15px;
  width: 20px;
  height: auto;
}

.form_item.btn_empty a:hover {
  background-color: #eeeeee;
}

/* CUSTOMERS STORIES SECTION */
.stories {
  background-color: #f3f5f9;
  padding: 40px 0;
}

.stories .view_more a {
  font-weight: 700;
  color: #276bf6;
}

.stories .view_more a:hover {
  text-decoration: none;
  color: #2361de;
}

.customers_item {
  padding: 5px;
  display: inline-block;
  width: calc(97% / 6);
}

@media screen and (max-width: 768px) {
  .customers_item {
    width: calc(97% / 2);
  }
}

.customers_item>img {
  max-width: 100%;
  height: auto;
  padding: 0 20px;
}

/* DEPLOY SECTION */
.deploy {
  padding: 100px 0;
  background-color: white;
}

@media screen and (max-width:992px) {
  .deploy {
    padding: 40px 0;
  }
}

.list_wrapper ul {
  list-style-type: none;
  padding: 0;
}

.list_wrapper li {
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  border-left: 2px solid #e4e8ed;
}

.list_wrapper li>a {
  color: #818da7;
  transition: 0.5s ease;
}

.list_wrapper li>a:hover {
  text-decoration: none;
  color: #031b4e;
}

.deploy li.item_active {
  border-color: #0069ff;
}

.deploy .item_active a {
  color: #031b4e;
}

.deploy .item_active a:hover {
  cursor: text;
}

/* DEVELOPERS SECTION */
.developers {
  background-color: #f3f5f9;
  padding: 140px 0;
}

.developers_screen>img {
  width: 100%;
}

.developers_screen>img:hover {
  cursor: grab;
}

/* FEATURE SECTION */
.features {
  background-color: white;
  padding: 100px 0;
}

.features .features_link a:hover {
  text-decoration: none;
  color: #2361de;
}

/* WORLD MAP SECTION */
.world_map {
  padding: 120px 0;
  background-image: url('../assets/world_map.svg'), linear-gradient(180deg, #0047c6 0, #001d99);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.world_map_table table {
  width: 100%;
  margin-top: 80px;
  border-collapse: collapse;
}

@media screen and (max-width:992px) {
  .world_map {
    padding: 50px 0;
  }

  .world_map_table table {
    margin-top: 40px;
  }
}

.world_map_table tr {
  border-bottom: 1px solid white;
}

.world_map_table td {
  font-size: 13px;
  padding: 10px;
}

.world_map_table td.city_code {
  font-weight: 700;
  color: white;
}

.world_map_table td.city_desc {
  color: #9aacde;
}

.world_map_table td a.city_link {
  color: #03d7d2;
}

.world_map_table td a.city_link:hover {
  text-decoration: none;
  color: #2361de;
}

/* TEAMS SECTION */
.teams {
  background-color: #f3f5f9;
  padding: 120px 0 150px;
}

.teams_love_box {
  background-color: white;
  border: 1px solid #e4e8ed;
  border-radius: 5px;
  padding: 30px 45px 80px;
}

.teams_love_box_image>img {
  max-width: 175px;
  height: auto;
}

.teams_love_box_name>span {
  font-size: 16px;
  font-weight: 700;
  color: #4f6084;
}

.teams_love_box_link a {
  font-size: 16px;
  font-weight: 700;
  color: #0069ff;
}

.teams_love_box_link a:hover {
  text-decoration: none;
  color: #2361de;
}

/* FOOTER TOP SECTION */
.footer_top {
  padding: 60px 0;
  background-image: linear-gradient(180deg, #0242bc 0, #001e9a);
}

.footer_top_title>h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.footer_top_create>a {
  background-color: white;
  color: #276bf6;
  border-radius: 4px;
  padding: 15px 35px;
  font-size: 16px;
  font-weight: 700;
}

.footer_top_create>a:hover {
  background-color: #ced6ec;
  text-decoration: none;
  color: #276bf6;
}

/* FOOTER BOTTOM SECTION */
.footer_bottom {
  background-color: #010e28;
  padding: 100px 0;
}

.footer_proud>a:hover {
  color: white;
  text-decoration: none;
}

.footer_social_links ul {
  padding: 0;
  list-style-type: none;
}

.footer_social_links ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer_social_links ul li i {
  font-size: 26px;
  color: #808794;
}

.icon-glass {
  font-size: 24px;
  color: #808794;
}

.footer_social_links ul li i:hover,
.icon-glass:hover {
  color: white;
  cursor: pointer;
}

.footer_col_list ul {
  list-style-type: none;
  padding: 0;
}

.footer_col_list ul li {
  margin-top: 10px;
}

.footer_col_list ul li a:hover {
  text-decoration: none;
  color: white;
}

/* CHAT BOT */
.chat_bot {
  position: fixed;
  bottom: 40px;
  right: -80px;
  transform: rotate(90deg);
  transform-origin: top right;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-name: chat_bot_anim;
  animation-fill-mode: forwards;
}

.chat_bot>div {
  float: left;
}

.chat_bot .bot_close {
  display: none;
  float: left;
  width: 24px;
  height: 24px;
  color: lightgray;
  font-size: 18px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
  margin-top: 10px;
}

.chat_bot .bot_text_wrapper:hover .bot_close {
  display: inline-block;
}

.chat_bot .bot_close a i {
  color: lightgray;
  transition: .8s ease;
}

.chat_bot .bot_close a:hover i {
  color: gray;
}

.chat_bot .bot_text a {
  display: inline-block;
  margin: 0;
  padding: 15px;
}

.chat_bot .bot_text a:hover {
  text-decoration: none;
  color: #031b4e;
}

.chat_bot .bot_text {
  position: relative;
  float: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px grey;
}

.chat_bot .bot_text::after {
  content: '';
  background-color: white;
  box-shadow: 2px -2px 4px -1px rgba(1, 1, 1, .4);
  height: 16px;
  width: 16px;
  right: -8px;
  position: absolute;
  bottom: 12px;
  transform: rotate(45deg);
}

.chat_bot .bot_image {
  margin-left: 16px;
  margin-top: 12px;
  width: 54px;
  height: 54px;
  overflow: hidden;
  background-color: #3381f7;
  border-radius: 4px;
  animation-iteration-count: 1;
  animation-duration: .2s;
  animation-timing-function: linear;
}

.chat_bot .bot_image img {
  height: 100%;
  margin-left: -9px;
}

.chat_bot .bot_image:hover {
  animation-name: shark_anim;
}

.chat_bot .bot_count {
  position: absolute;
  top: 0;
  right: -13px;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 3px solid white;
}

/* chat bot animation */
@keyframes chat_bot_anim {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
    right: 40px;
  }
}

@keyframes shark_anim {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  60% {
    transform: rotate(20deg);
  }

  80% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
