* {
  font-family: 'Roboto', sans-serif;
}

/* colors */
.col_db {
  color: #031b4e;
}

.col_bl {
  color: #0069ff;
}

/* HEADER SECTION */
.header {
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 5px lightgrey;
}

@media screen and (max-width:768px) {
  .header {
    position: relative;
    box-shadow: none;
  }
}

.header .header_left_item,
.header .header_right_item {
  line-height: 65px;
  font-size: 16px;
  font-weight: 400;
  color: #526081;
}

.header .header_left_item a,
.header .header_right_item a {
  color: #526081;
  font-weight: 700;
}

.header .header_left_item:hover a,
.header .header_right_item:hover a {
  color: #526081;
  text-decoration: none;
}

.header .header_right_item>.btn_sign {
  background-color: white;
  color: #276bf6;
  border: 1px solid #276bf6;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
}

.header .header_right_item>.btn_sign {
  transition: .5s ease;
}

.header .header_right_item>.btn_sign:hover {
  background-color: #276bf6;
  color: white;
}

.header .hamburger {
  font-size: 30px;
  line-height: 65px;
  color: #8ba4de;
}

/* JUMBOTRON MAIN SECTION */
.jumbotron_main {
  margin-top: 65px;
  background-image: url('../assets/main_bkg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  padding: 130px 0;
}

@media screen and (max-width:768px) {
  .jumbotron_main {
    padding: 50px 0;
    margin-top: 0;
  }

  .jumbotron_main_form {
    margin-top: 40px;
  }
}

.jumbotron_main_title h1 {
  font-size: 62px;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .jumbotron_main_title h1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 1200px) {
  .jumbotron_main_title h1 {
    font-size: 40px;
  }
}

.jumbotron_main_desc p {
  font-size: 20px;
  color: #cdd5ee;
  font-weight: 400;
  margin-top: 20px;
}

.jumbotron_main_form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.jumbotron_main_form>div>h3 {
  font-size: 30px;
  font-weight: 700;
}

.jumbotron_main_form>div>input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
}

.jumbotron_main_form>div>input:focus {
  outline: none;
  border: 1px solid #183bf5;
  transition: 0.5s ease;
}

.jumbotron_main_form>div[class*="btn_"] a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  font-weight: 700;
  transition: .4s ease;
}

.jumbotron_main_form>div>a {
  text-decoration: none;
}

.jumbotron_main_form>div>p>a {
  color: #0069ff;
  text-decoration: underline;
}

.jumbotron_main_form>div>p>a:hover {
  color: #0069ff;
}

.jumbotron_main_form .btn_full a {
  color: white;
  background-color: #0069ff;
}

.jumbotron_main_form .btn_full a:hover {
  background-color: #183bf5;
}

.jumbotron_main_form .btn_empty a {
  color: #757575;
  box-shadow: 0 1px 5px lightgrey;
}

.jumbotron_main_form .btn_empty img {
  display: block;
  position: absolute;
  left: 15px;
  width: 20px;
  height: auto;
}

.jumbotron_main_form .btn_empty a:hover {
  background-color: #eeeeee;
}

/* CUSTOMERS STORIES SECTION */
.stories {
  background-color: #f3f5f9;
  padding: 40px 0;
}

.stories_customers {
  margin: 0 auto;
}

.stories h2 {
  font-size: 14px;
  font-weight: 700;
  color: #939eb5;
}

.stories .view_more a {
  font-weight: 700;
  color: #276bf6;
}

.stories .view_more a:hover {
  text-decoration: none;
  color: #2361de;
}

.customers_item {
  padding: 5px;
  display: inline-block;
  width: calc(97% / 6);
}

@media screen and (max-width: 768px) {
  .customers_item {
    width: calc(97% / 2);
  }
}

.customers_item>img {
  max-width: 100%;
  height: auto;
  padding: 0 20px;
}

/* deploy section */
.deploy {
  padding: 100px 0;
  background-color: white;
}

@media screen and (max-width:992px) {
  .deploy {
    padding: 40px 0;
  }
}

.deploy_title h2 {
  font-size: 36px;
  font-weight: 700;
  color: #031b4e;
}

.deploy_desc p {
  font-size: 20px;
  color: #4f6084;
}

.list_wrapper ul {
  list-style-type: none;
  padding: 0;
  transition: 1s ease;
}

.list_wrapper li {
  transition: 1s ease;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  border-left: 2px solid #e4e8ed;
}

.list_wrapper li>a {
  color: #818da7;
  transition: 0.5s ease;
}

.list_wrapper li>a:hover {
  text-decoration: none;
  color: #031b4e;
}

.deploy li.item_active {
  border-color: #0069ff;
}

.deploy .item_active a {
  color: #031b4e;
}

.deploy .item_active a:hover {
  cursor: text;
}

.col_item h3 {
  color: #031b4e;
  font-size: 18px;
}

.col_item p {
  color: #4f6084;
  font-size: 16px;
}
